html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
.headerImage {
	background-image: url("squishedHeader.jpeg");
	object-fit: contain ;
	border:' solid 2px black'
}