html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
.headerImage {
	background-image: url("squishedHeader.jpeg");
	object-fit: contain ;
}
.logoPic {
	background-image: url("logoPic.png");
	height: 150px;
	width: 354px;
	float: left;
	position: relative;
	right: -20px;
	top: -10px;
}