
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	background-color:#333333;
	/*background:linear-gradient(to bottom right, #E6DADA, #274046 );
	background-size:cover;
	background-repeat:no-repeat;*/
	
}
/*.headerImage {
	background-image: url("squishedHeader.jpeg");
	object-fit: contain ;
	
}*/
.logoPic {
	background-image: url("logoPic.png");
	height: 150px;
	width: 354px;
	float: left;
	position: relative;
	right: -20px;
	top: 1px;
}