@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
   margin-top:12%;   
}
#logo {
    height:150px;
    width:290px;
    margin-left:3%;
}
#social {
    float:right;
    margin-right:7%;
    margin-top:2%;
}
#social i {
    margin:10px;
}
.user {
    float:right;
    margin-top:-8%;
    margin-right:4%;
}
.user input {
    height:35px;
    margin:5px;
    background-color:#f7f7f7;
    font-size:15px;
    text-align: center;
}
#signup {
    height:35px;
    margin:5px;
    width:120px;
    outline:0;
    font-size:15px;
    color:black;
    cursor:pointer;
    background-color:#f7f7f7;
}
#signup:hover {
    background-color:#bbeeff;
    color:white;
}
.links {
    padding:15px;
}
#home, #parkView, #userProfile, #createUser, #userHomePage { /*Navigation Links*/
    width:50px;
    text-decoration:none;
    margin:50px;
    padding:5px;
}
#home:hover, #parkView:hover, #userProfile:hover, #createUser:hover, #userHomePage:hover {
    background-color: #eae9e9;
    padding:15px;  
}
.carouselContainer{
    border:1px solid #d2d9da;
    width:900px;
    overflow:hidden;
    margin-left:15%;
    margin-top:3%;
}
img {  
    width:630px;
    height:auto;
    margin-top:-16%;
}
.happening {
    margin-left:33%;
    margin-top:5%;
    font-family: 'Lobster', cursive; /*SAMPLE FONT FOR NOW*/
}
.matches {
    display:flex;
    margin-left:11%;
    margin-top:4em;
}
#person {
    border:1px;
    border-radius:10px;
    background-image: linear-gradient(to bottom right, #36D1DC, #5B86E5);
    height:250px;
    width:212px;
    text-align:center;
    margin:8px;
    margin-top:-2px;
    list-style: none;
}
h3 {
    position:absolute;
    margin-top:-15%;
    color:white;
}
/*#texts {
    background-image:url("https://static.pexels.com/photos/305244/pexels-photo-305244.jpeg");
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 456px;
    width: 5388px;
    color:white;
    font-size:40px;
}*/
/*#northwest, #northeast, #southwest, #southeast {
    opacity:0;
    max-height:0;
    overflow:hidden;
}*/
#northwestloc:checked ~ #northwest  {
  opacity: 1;
  max-height: 100px;
  overflow: visible;

}

#northwestloc:not(:checked) ~  #northwest {
 display: none;

}

#southwestloc:checked ~ #southwest {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

#southwestloc:not(:checked) ~ #southwest {
 display: none;
}

#southeastloc:checked ~ #southeast {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
#southeastloc:not(:checked) ~ #southeast {
 display: none;
}

#northeastloc:checked ~ #northeast  {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

#northeastloc:not(:checked) ~  #northeast {
  
  display: none;
}



.activities {
  height:40;
  width:250;  
  position:absolute;
  display:flex;
  margin-top:8em;
  overflow:hidden; 
  background: green;     
}
