@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
   margin-top:12%;   
}
#logo {
    height:150px;
    width:290px;
    margin-left:3%;
}
#social {
    float:right;
    margin-right:7%;
    margin-top:2%;
}
#social i {
    margin:10px;
}
.user {
    float:right;
    margin-top:-8%;
    margin-right:4%;
}
.user input {
    height:35px;
    margin:5px;
    background-color:#f7f7f7;
    font-size:15px;
    text-align: center;
}
#signup {
    height:35px;
    margin:5px;
    width:120px;
    outline:0;
    font-size:15px;
    color:black;
    cursor:pointer;
    background-color:#f7f7f7;
}
#signup:hover {
    background-color:#bbeeff;
    color:white;
}
.links {
    padding:15px;
}
#home, #parkView, #userProfile, #createUser, #userHomePage { /*Navigation Links*/
    width:50px;
    text-decoration:none;
    margin:50px;
    padding:5px;
}
#home:hover, #parkView:hover, #userProfile:hover, #createUser:hover, #userHomePage:hover {
    background-color: #eae9e9;
    padding:15px;  
}
.carouselContainer{
    border:1px solid #d2d9da;
    width:900px;
    overflow:hidden;
    margin-left:15%;
    margin-top:3%;
}
img {  
    width:630px;
    height:auto;
    margin-top:-16%;
}
.happening {
    margin-left:33%;
    margin-top:5%;
    font-family: 'Lobster', cursive; /*SAMPLE FONT FOR NOW*/
}
.matches {
    display:flex;
    margin-left:11%;
    margin-top:4em;
}
#person {
    border:1px solid gray;
    height:auto;
    width:195px;
    text-align:center;
    margin:20px;
    margin-top:-2px;
    list-style: none;
}
h3 {
    position:absolute;
    margin-top:-15%;
    color:white;
}
/*#texts {
    background-image:url("https://static.pexels.com/photos/305244/pexels-photo-305244.jpeg");
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 456px;
    width: 5388px;
}*/
