
#social {
    float:right;
    margin-right:7%;
    margin-top:2%;
}
#social i {
    margin:10px;
}
.user {
    float:right;
    margin-top:-8%;
    margin-right:4%;
}
.user input {
    height:35px;
    margin:5px;
    background-color:#f7f7f7;
    font-size:15px;
    text-align: center;
}
#signup {
    height:35px;
    margin:5px;
    width:120px;
    outline:0;
    font-size:15px;
    color:black;
    cursor:pointer;
    background-color:#f7f7f7;
}
#signup:hover {
    background-color:#bbeeff;
    color:white;
}
.links {
    padding:15px;
}
#home, #parkView, #userProfile, #createUser, #userHomePage { /*Navigation Links*/
    width:50px;
    text-decoration:none;
    margin:50px;
    padding:5px;
}
.carouselContainer{
    width:1300px;
    overflow:hidden;
    /*margin-left:15%;*/
    margin-top:3%;
    border-radius:15px;
}
img {  
    width:1300px;
    height:auto;
    margin-top:-16%;
}
.happening {
    margin-left:25%;
    margin-top:5%;
    font-family:"Verdana";
    color:white;
}
.matches {
    display:flex;
    margin-left:11%;
    margin-top:4em;
}
#person {
    border:3px solid white;
    border-radius:10px;
    height:250px;
    width:212px;
    text-align:center;
    margin:8px;
    margin-top:-2px;
    list-style: none;
}
h3 {
    position:absolute;
    margin-top:-15%;
    color:white;
}
#northwest, #northeast, #southwest, #southeast {
    opacity:0;
    max-height:0;
    overflow:hidden;
}
#northwestloc:checked ~ #northwest {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
#northwestloc:not(:checked) ~  #northwest {
 display: none;

}
#southwestloc:checked ~ #southwest {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
#southwestloc:not(:checked) ~ #southwest {
 display: none;
}

#southeastloc:checked ~ #southeast {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
#southeastloc:not(:checked) ~ #southeast {
 display: none;
}
#northeastloc:checked ~ #northeast  {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
#northeastloc:not(:checked) ~  #northeast {  
  display: none;
}

.parkName{
    color:red; 
    text-transform: uppercase; 
}
.avatarImg {
    text-decoration:none;
}



